@import "tailwindcss";

/* Define your Heading/Brand Font */
@font-face {
  font-family: 'BrandFont';
  src: url('./Fonts/Futura-PT-Medium.ttf') format('truetype');
  font-style: normal;
}
@font-face {
  font-family: 'BrandFont';
  src: url('./Fonts/Neue-Haas-Grotesk-Display-Pro-75\ Bold.ttf') format('truetype');

  font-style: normal;
}

/* 1. Standard CSS font loading */
@font-face {
  font-family: "desfont";
  src: url('./Fonts/Futura-PT-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "headerfont";
  src: url('./Fonts/Neue-Haas-Grotesk-Display-Pro-75\ Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "textfont";
  src: url('./Fonts/PPFraktionMono-Bold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* 2. Register it in the Tailwind Theme */
@theme {
  /* Create a custom utility class called 'font-brand'.
     The value matches the font-family name defined above.
  */
  --font-des: "desfont", "sans-serif";
  --font-head: "headerfont", "sans-serif";
  --font-text:"textfont", "sans-serif";
  /* OPTIONAL: Override the default sans font 
     (This makes it the default for the whole app)
  */
  /* --font-sans: "MyCustomFont", "ui-sans-serif", "system-ui"; */
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
