:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --roboto-mono: 'Roboto Mono';
  --headlinefont: 'Poppins';
  --white: #ffffff;
  --black: #000000;
  --transparent: transparent;
  --color-m0ffxvua: #1A1E1E;
  --color-m0fg12ll: #4D4D4D;
  --color-m0fg1ksw: #F6F6F6;
  --color-m0fg1ruf: #CCCCCC;
  --color-m0fg236s: #CCCABB;
  --pt-mono: 'PT Mono';
}

.teststyle
{
  box-shadow: 0 6px 32px 0 #1e1e1e4a;
    padding: 32px 32px;
    background-color: #1A1E1E;
    width: 100%;

    margin: 0;
}

.timer{
  box-shadow: none;
  padding: 16px 20px;
  margin: 0;
  background-color: var(--color-m0ffxvua);

}

.destext{
  font-family: var(--pt-mono);

  font-weight: 400;

  opacity: 1;
  text-shadow: none;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  
  font-weight: 500;
}
.bgstyle{
  background-attachment: fixed !important;
  background-position: 50% !important;
  background-repeat: repeat !important;
  background-size: cover !important;
  -webkit-background-size: cover !important;

}

.op{
  box-shadow: none;
  padding: 100px 30px;
  background-color: var(--transparent);
  border-color: var(--color-m0fg1ruf);

  border-width: 1px;
  border-style: solid;
  margin: 10px 15px;
}

.opbg{
  background-position: 50% !important;
  background-repeat: repeat !important;
  background-size: cover !important;
  border-radius: 14px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.herovideo{
  height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
    opacity: .3;
}

.videostyle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destext2{
  font-family: var(--pt-mono);
  color: var(--color-m0ffxvua);
  font-weight: 400;

  opacity: 1;
  text-shadow: none;
  line-height: 1.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;

  font-weight: 500;
}


a {

  color: #188bf6;
  text-decoration: inherit;
}
a:hover {
  color: #188bf6;
}

.stylebutton 
{
  font-family: var(--headlinefont);
  background-color: var(--white);
  color: #1A1E1E;
  text-decoration: none;
  padding: 16px 20px;
  border-color: var(--transparent);
  border-width: 2px;
  border-style: solid;
  letter-spacing: 0;
  text-transform: uppercase;
  width: 100%;
  box-shadow: 0 6px 32px 0 #cccabb4a;
  text-shadow: none;
}

.stylebutton2
{
  font-family: var(--headlinefont);
  background-color: var(--black);
  color: var(--white);
  text-decoration: none;
  padding: 16px 20px;
  border-color: var(--transparent);
  border-width: 2px;
  border-style: solid;
  letter-spacing: 0;
  text-transform: uppercase;
  width: 100%;
  box-shadow: 0 6px 32px 0 #cccabb4a;
  text-shadow: none;
}




h1 {
 
  line-height: 1.1;
}

button {
  border-radius: 20px;
  border: 1px solid transparent;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  cursor: pointer;
}
button:hover {
  border-color: #646cff;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }


}
